/************************************general layout************************************/
#main{margin-top: 10px;}
#infos{height:650px; overflow: auto;}

/************************************feed************************************/
.feed_item{margin: 2px 0;}
.feed_item:hover{background-color: #FCF8E3;color:#000;}
.feed_item_title{font-size:15px;}

/************************************reader************************************/
.reader_iframe{height: 650px;}
.reader_title{font-size: 15px; font-weight: bold; margin-bottom: 15px}

/************************************manager************************************/
#feed_list{display:none;}